.mainBody{
    width: 100vw !important;
    height: 100vh !important;
    color: var(--color4);
}

.header{
    height: 6rem;
    border-bottom: 4px solid var(--light-grey);
}

.mainContainer{
    height: calc(100vh - 6rem );
    display: flex;
    margin: 0;    
}

.leftPart, .rightPart{
    height: 100%;
}
.leftPart{
    overflow-y: auto;
    color: white;
    /* border-radius: 16px; */
}
.divider{
    width: 100%;
    border-bottom: 2px solid var(--light-grey);
}

